@(roundUps: Map[String, BigDecimal], groupedByMonth: Seq[((Int, Int), Seq[Transaction])])

@main("Transactions") {

  <h1>Round ups</h1>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  @groupedByMonth.map { month =>

    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="@month._1">

        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@{s"${Months(month._1._1)}${month._1._2}"}" aria-expanded="false" aria-controls="collapse@{s"${Months(month._1._1)}${month._1._2}"}">
            @Months(month._1._1) - @month._1._2 - Potential round ups: £@roundUps(s"${Months(month._1._1)} ${month._1._2}")
          </a>
        </h4>
      </div>

      <div id="collapse@{s"${Months(month._1._1)}${month._1._2}"}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@month._1">
        <div class="panel-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Created</th>
                        <th>Trasnaction Id</th>
                        <th>Currency</th>
                        <th>Description</th>
                        <th>Notes</th>
                        <th>Category</th>
                        <th>Meatadata</th>
                    </tr>
                </thead>
                <tbody>
                @for(transaction <- month._2) {
                    <tr @if(transaction.metadata.getOrElse("roundedUp", "") == "true") {class="bg-success"}>
                        <td>@{transaction.amount / 100}</td>
                        <td>@transaction.created</td>
                        <td>@transaction.id</td>
                        <td>@transaction.currency</td>
                        <td>@transaction.description</td>
                        <td>@transaction.notes</td>
                        <td>@transaction.category</td>
                        <td>@transaction.metadata</td>
                    </tr>
                }
                </tbody>

            </table>

        </div>
      </div>

    </div>
  }

  </div>

  @**
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Balance</th>
        <th>Amount</th>
        <th>Created</th>
        <th>Currency</th>
        <th>Description</th>
        <th>ID</th>
        <th>Merchant</th>
        <th>Metadata</th>
        <th>Notes</th>
        <th>Is Load?</th>
        <th>Settled</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      @for(transaction <- transactions.transactions) {
        <tr>
          <td>@transaction.account_balance</td>
          <td>@{transaction.amount / 100}</td>
          <td>@transaction.created</td>
          <td>@transaction.currency</td>
          <td>@transaction.description</td>
          <td>@transaction.id</td>
          <td>@transaction.merchant</td>
          <td>@transaction.metadata</td>
          <td>@transaction.notes</td>
          <td>@transaction.is_load</td>
          <td>@transaction.settled</td>
          <td>@transaction.category</td>
        </tr>
      }
    </tbody>

  </table>
  **@

}